/*custom font*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
  }
  /*basic reset*/
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Open Sans", arial, verdana;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  nav{
    background-color: #0c18b3;
  }
  nav ul a{
    font-size: 2rem;
  }
  /*form styles*/
  #msform {
    /* width: 600px; */
    margin: 50px auto;
    text-align: center;
    position: relative;
  }
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 45px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 20% 0 10%;
    position: absolute;
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  /*inputs*/
  #msform input,
  #msform textarea {
    padding: 15px;
    /* border: 1px solid #ccc; */
    /* border-radius: 3px; */
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    /* font-family: montserrat; */
    color: #2C3E50;
    font-size: 20px;
  }
  /*buttons*/
  #msform .action-button {
    width: auto;
    background: #67d5bf;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 30px 5px;
  }
  #msform .action-button:hover,
  #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #67d5bf;
  }
  /*headings*/
  .fs-title {
    /* font-size: 16px; */
    text-transform: uppercase;
    /* color: #63a2cb; */
    padding: 10px;
    margin: -20px 0px 10px 0;
    border-radius: 0px 0px 54px 54px;
    box-shadow: 0px 4px 6px -3px #00000085;
    background: linear-gradient(-135deg, #9108b9, #4158d0);
    color: #fff;

  }
  .fs-subtitle {
    font-weight: normal;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 16.5%;
    float: left;
    position: relative;
  }
  #progressbar li:before {
    /* content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto; */
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 37px;
    height: 40px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 12px auto;
    font-size: 23px;
  }
  /*progressbar connectors*/
  #progressbar li:after {
    /* content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; */
    content: '';
    width: 100%;
    height: 7px;
    background: white;
    position: absolute;
    left: -50%;
    top: 16px;
    z-index: -1;
    
    /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,
  #progressbar li.active:after {
    /* background: #67d5bf;
    color: white;
    border-radius: 20px;
    transition: .9s; */
    background: #67d5bf;
    color: white;
    border-radius: 20px;
    transition: .9s;
    min-height: 7px;
    top: 16px;
  }
  .help-block {
    font-size: 0.8em;
    color: #7c7c7c;
    text-align: left;
    margin-bottom: 0.5em;
  }
  #phy_chlng, #GOv_EMP_Row{
    display: none;
     background: #68d5bf82;
  }
  #phy_chlng>.input-field>label{
    color: #000 !important;
  }
  .phycal_disbality-container h5{
    background: #c4ede8;
    padding: 17px;
    text-align: left;
    font-weight: 500;
}
.pdr {
  border: 1px solid #eee;
  margin: -10px 0 0 0;
  box-shadow: 0px 9px 12px -12px;
}
label {
  color: #000 !important;
}
.pdc2{
  margin-top: 50px;
}